/* --melon: #FAC2B5ff;
--peachy: #FECBC2;
--blue: #C9CFF3;
--lavender: #D8AFDBB;
--purple: #B6A2DD;
--green: #B3DAC7; */

#add-contact-form {
    width: 300px;
    background: #C8CFF3;
    padding: 7%;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 3px 3px #C8CFF3;
}

#form-container {
    display: flex;
    justify-content: center;
}

#form-container label input {
    margin: 20px;
    background-color: rgb(227, 227, 247);
    font-family: 'Noto Sans', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    color: white;
    font-size: 14px;
    font-weight: bold;
}