/* --melon: #FAC2B5ff;
--cornflower-blue: #778DFAff;
--medium-purple: #B06DF9ff;
--maya-blue: #76BFFAff;
--majorelle-blue: #6B44EDff; */

#form-container {
    display: flex;
    justify-content: center;
}
#add-contact-form {
    max-width: 300px;
    padding: 7%;
    background-color: paleturquoise;
}

/* @media only screen and (max-width: 600px) {
    #add-contact-form {
        padding: 2%;
        background-color: paleturquoise;
    }
} */


#form-container label input {
    margin: 20px;
    background-color: rgb(206, 206, 246);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #6B44EDff;
    color: white;
    font-size: 14px;
    font-weight: bold;
}