.contact-row {
    padding-bottom: 150px;
}

.contacts-table {
    padding-bottom: 15px;
}

td {
    padding-bottom: 10px;
}


.contacts-container {
    display: flex;
    flex-direction: column;
}

.delete-button {
    padding: 0px;
    background-color: transparent;
}