/* .contact-row {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
} */

tbody {
    text-align: right;
}
.contacts-container {
    display: flex;
    flex-direction: column;
}

.delete-button {
    padding: 0px;
    background-color: transparent;
}