body {
  font-family: -apple-system, BlinkMacSystemFont, Tahoma,Verdana,Segoe,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(225deg, #FAC2B5ff, #778DFAff, #B06DF9ff, #76BFFAff, #6B44EDff);
  margin: 10%;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 6%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #FAC2B5ff;
}

.contacts-container {
width: 100%;
background-color: #FAC2B5ff;
padding: 7%;
}

button {
  background-color: #6B44EDff;
  font-kerning: normal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
